# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

lex.yy.c
.transform.l.swp
transform
*.tab.cc
*.tab.hh
.yy~

parser.out
parsetab.py
__pycache__